<!--Madelin Pereira, 100075105 -->


<!DOCTYPE html>
<html >
   <head>
        <title>Menu</title>
        <meta name="viewport" content="width=device-width, initialscale=1.0"/> <!-- Bootstrap -->
        <link href="framework/css/bootstrap.min.css" rel="stylesheet" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script> <script src="js/respond.min.js"></script>
             <![endif]-->
	</head>
			 <!--CSS style sheet-->
			 <style>
			   .border {
                padding: 9px;
                margin : 9px;
				outline-style: outset;
                outline-color: blue;
                text-align: center;
				}
			 
			 .container {
			  padding: 10px;
                margin: 10px;
                outline-style: outset;
                outline-color: blue; }
			 
			 </style>
	</head>
<body >
	<div class ="container">
				
		<!-- Corporate banner -->
		<div class ="row">
			<div class ="col-sm-12">
					<div class="border">
					<p> Pinocone Online Catering System </p>
					</div>
				</div>
		</div>
				<!-- Nav bar -->
			<nav>
				<div class ="row">
					<div class ="col-sm-12">
						<div>
							<ul class ="nav navbar-nav">
								<li class ="active"><a href="index.html">Home</a></li>
								<li class ="dropdown">
								<a href="customer_order.html" class = "dropdown-toggle" data-toggle="dropdown">Food Order<b class="caret"></b>
								</a>
									<ul class ="dropdown-menu">
									<li><a href="customized_food.html">Menu</a></li>
									</ul>
									</li>
								<li><a href="Order.html">Orders</a></li>
								<button type = "button" class ="btn btn-default navbar-btn navbar-right">Sign Out</button>
								<!-- <li><a href="sign_out.html">Sign Out</a></li> -->
							</ul>
						</div>
					</div>
				</div>
			</nav>
				<!-- Nav bar -->
				
		<!-- Main product highlight -->
		<div class = "row">
			<div class="col-sm-4">
					<div class="border">
				<!--Chinese food list using bootstrap -->
				<!-- binding arrays with angular js -->
					<div ng-app="myApp" ng-controller="myCtrl">
						<label>Chinese </label>
						<select>
						<option value="chin">Fried Noodles</option>
						<option value="chin">Chow Mein</option>
						<option value="chin">Spring Rolls</option>
						</select>

					</div>
					</div>
					<!--Chinese food list using bootstrap -->
				<!-- binding arrays with angular js -->
			</div>
			
			<div class="col-sm-4">
				<div class="border">
				<div ng-app="myApp" ng-controller="myCtrl">
						<label>Indian </label>
						<select>
						<option value="ind">Samosa</option>
						<option value="ind">Butter Chicken</option>
						<option value="ind">Naan</option>
						</select>

					</div>
					</div>
				<!--<div data-ng-controller ="FoodDropDownController">
					<div class ="dropdown">
						<button class ="btn btn-default dropdown-toggle" type="button" id="chinesedropdown" data-toggle ="dropdown">Malay <b class ="caret"></b>
						</button>						
						<ul class ="dropdown-menu">
						<li data-ng-repeat="a in Malay"><a data-ng-click="dropboxitemselected()">{{a}}</a></li>
						</ul>  
					</div>
				</div>--> 
			</div>
			
			<div class="col-sm-4">
				<div class="border">
				<div ng-app="myApp" ng-controller="myCtrl">
						<label>Malay </label>
						<select>
						<option value="malay">Nasi Lemak</option>
						<option value="malay">Chicken Rendang</option>
						<option value="malay">Laksa Johor</option>
						</select>

					</div>
					</div>
				<!-- <div data-ng-controller ="FoodDropDownController">
					<div class ="dropdown">
						<button class ="btn btn-default dropdown-toggle" type="button" id="chinesedropdown" data-toggle ="dropdown">Indian <b class ="caret"></b>
						</button>						
						<ul class ="dropdown-menu">
						<li data-ng-repeat="a in Indian"><a data-ng-click="dropboxitemselected()">{{a}}</a></li>
						</ul>  
					</div>
				</div>--> 
			</div>
			
		</div>
		
		
		
		<!-- footer -->
		<div class ="row">
			<div class ="col-sm-12">
					<div class="border">
					<p> Footer 4.1</p>
					</div>
				</div>
		</div>	
			
	</div>			 
	<!-- jQuery – required for Bootstrap's JavaScript plugins) --> 
	<script src="framework/js/jquery.min.js"></script>
	<!-- All Bootstrap plug-ins file -->
    <script src="framework/js/bootstrap.min.js"></script>
	 <!-- Basic AngularJS -->
    <script src="frameworks/js/angular.min.js"></script>
	
	 <script src="frameworks/js/Customized_Food.js"></script>
	 
	  <script src="frameworks/js/signup.js"></script>
	
	
</html>