<!DOCTYPE html>
<html data-ng-app="myApp">
    <head>
        <title>Customized food menu</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1.0" />
        <!-- Bootstrap -->
        <link href="framework/css/bootstrap.min.css" rel="stylesheet" /> <!-- HTML5 Shim and Respond.js IE8 support of HTML5
        elements and media queries --> <!-- WARNING: Respond.js doesn't work if you view the
                                       page via file:// -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script> <script src="js/respond.min.js"></script>
               <![endif]-->
        
        <style>
            .subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width: 45%;
    
    select {
        height: 200px;
        padding: 0;
        option {
            padding: 4px 10px 4px 10px;
        }
        option:hover {
            background: #EEEEEE;
        }
    }
}
.subject-info-arrows {
    float: left;
    width: 10%;
    input {
        width: 70%;
        margin-bottom: 5px;
    }
}
        </style>
    </head>
    <body data-ng-controller="myCtrl">
        <h1>Customized food menu</h1>
        
        <div class="container">
        <div class="form-row">
            <div class="form-group col-sm-8">
                <label for="angName">Name</label>
                <input type="text" name="firstname" id="angName" class="form-control" data-ng-model="angName" required/>
                                
            </div>
            
            
            <div class="form-group col-sm-4">
                <label for="angPrice">Price</label>
                <input type="text" name="firstname" id="angPrice" class="form-control" data-ng-model="angPrice" required/>
                                
            </div>
        
        </div>
        
        <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="angDes">Description</label>
                <input type="text" name="firstname" id="angDes" class="form-control" data-ng-model="angDes" required/>
                                
            </div>
        
        </div>
        
        <div class="form-row">
            <div class="form-group col-sm-12">
            <input type="submit" value="submit" class="btn btn-primary my-1" data-ng-click="add(angName, angPrice, angDes)"/>
            </div>
        </div>
        
        <div class="subject-info-box-1">
              <select multiple="multiple" id='lstBox1' class="form-control">
                <option value="ajax">Salmon sushi</option>
                <option value="jquery">nasi lemak</option>
                <option value="javascript">kaya toast</option>
                <option value="mootool">laksa</option>
                <option value="prototype">kolo mee</option>
                <option value="dojo">kueh sapit</option>
              </select>
        </div>
        <div class="subject-info-arrows text-center">
              <input type="button" id="btnRight" value=">" class="btn btn-default" /><br />
              <input type="button" id="btnLeft" value="<" class="btn btn-default" /><br />
        </div>
        <div class="subject-info-box-2">
              <select multiple="multiple" id='lstBox2' class="form-control">
                
              </select>
        </div>
        
        <table class="table">
            
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            
            <tbody>
                <tr data-ng-repeat="menu in menus">
                    <td>{{menu.code}}</td>
                    <td>{{menu.name}}</td>
                    <td>{{menu.description}}</td>
                    <td>{{menu.price}}</td>
                    <td><input type="button" value="DEL" class="class='btn btn-warning my-1'" data-ng-click="delete($index)"/></td>
                    <th>{{menu.date}}</th>
                </tr>
                
            </tbody>
        </table>
            
        </div>
        
        
        
        <script src="framework/js/jquery.min.js"></script>
        <!-- All Bootstrap plug-ins file -->
        <script src="framework/js/bootstrap.min.js"></script>
        <!-- Basic AngularJS -->
        <script src="framework/js/angular.min.js"></script>
        <!-- My Controller --> 
        <script src="js/foodmenu.js"></script>
    </body>
</html>